.footer-container {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-text {
  color: black;
  font-size: 16px;
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 15px;
  }

  .footer-text {
    font-size: 14px;
  }
}